*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, rgb(55, 136, 235) 0%, rgb(180, 62, 121) 100%);
    color: #FFF;
}



/********************* table *********************/
.home{
    padding: 1rem;
}
.home a{
    color: aliceblue;
    font-size: 30px;
}
.num{
    position: sticky;
    top: 6rem;
    display: flex;
    align-items: center;
    margin-left: 75%;
    margin-top: 5rem;
}



.tablelow{
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
}
table{
    width: 45%;
    text-align: center;
    border-collapse: collapse;
}
th{
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem;
}
td{
    border: 1px solid rgb(183, 194, 201);
    padding: 0.3rem;
}
input.largerCheckbox{
    width: 25px;
    height: 18px;
}
.sub{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: -4rem;
}
input{
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}


